<%= form_for (@article) do |f| %>
<div class="form-group">
  <%= f.label :name, 'Title'%>
  <%= f.text_field :title, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.label :content, 'content' %>
</div>

  <%= f.submit %>
<% end %>
