<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Wikinimous</a>
  <form class="form-inline">
    <div style="padding-left: 10px;">
      <%= link_to "New Article", new_article_path %>
      </a>
    </div>
  </form>
</nav>
    <%= yield %>
    <script src="https://kit.fontawesome.com/76438d3d52.js"></script>
  </body>
</html>
